.login-form{
    padding: 20px 10px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    label{
        font-weight: 600;
    }

    .ant-form-item{
        margin-bottom: 16px;
    }

    .ant-form-item.forget-pwd {
        text-align: right;
        font-weight: 600;
    }

    input {
        padding: 9px 10px;
        background: rgba(247, 247, 247, 0.5803921569);
    }

    .ant-input-affix-wrapper{
        padding: 9px 10px;
        background: rgba(247, 247, 247, 0.5803921569);
    }

    .login-btn .ant-btn{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
    }

    .ant-form-item.signup-text {
        text-align: center;
        font-weight: 600;
    }
}