.login-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.login-image {
    flex: 1;
    background-image: url('../../assets/png-images/auth-image.png');
    background-size: cover;
    background-position: center;
}

.login-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #F9F9F9;
}

.login-form {
    width: 100%;
    max-width: 700px;
    background: white;
    padding: 60px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-btn .ant-btn {
    width: 100%;
    background-color: #C0F84B;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
    border-radius: 8px;
    margin-top: 20px;
}

.forget-pwd {
    text-align: right;
    font-weight: 600;
}

.login-text {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.ant-input, .ant-input-password {
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.ant-form-item {
    margin-bottom: 16px;
}